/*
 * Copyright © 2019 Dennis Schulmeister-Zimolong
 *
 * E-Mail: dhbw@windows3.de
 * Webseite: https://www.wpvs.de/
 *
 * Dieser Quellcode ist lizenziert unter einer
 * Creative Commons Namensnennung 4.0 International Lizenz.
 */

//
// Global variables
//
@import "variables.less";

html {
    --phone-max: @phone_max;
    --tablet-min: @tablet_min;
    --tablet-max: @tablet_max;
    --screen-min: @screen_min;
    --screen-max: @screen_max;
    --hires-min: @hires_min;

    --primary-bg: @primary_bg;
    --primary-fg: @primary_fg;
    --secondary-bg: @secondary_bg;
    --secondary-fg: @secondary_fg;
    --normal-fg: @normal_fg;
    --separator-fg: @separator_fg;

    --logo-color: @logo_color;
    --header-bg: @header_bg;
    --header-fg: @header_fg;

    --link-normal-fg: @link_normal_fg;
    --link-hover-fg: @link_hover_fg;

    --card-bg: @card_bg;
    --card-fg: @card_fg;
    --card-light-fg: @card_light_fg;

    --info-fg: @info_fg;
    --info-bg: @info_bg;

    --tile-title-normal-bg: @tile_title_normal_bg;
    --tile-title-normal-fg: @tile_title_normal_fg;
    --tile-title-hover-bg: @tile_title_hover_bg;
    --tile-title-hover-fg: @tile_title_hover_fg;

    --button-normal-fg: @button_normal_fg;
    --button-normal-bg: @button_normal_bg;
    --button-hover-fg: @button_hover_fg;
    --button-hover-bg: @button_hover_bg;

    --transition-background: @transition_background;
    --transition-color: @transition_color;
}

//
// Responsive font-size
//
html {
    font-family: "abelregular", sans-serif;
    color: @normal_fg;
    font-size: 11pt;

    @media all and (min-width: @tablet_min) {
        font-size: 12pt;
    }

    // @media all and (min-width: @screen_min) {
    //     font-size: 13pt;
    // }

    @media all and (min-width: @hires_min) {
        font-size: 14pt;
    }
}

//
// General layout
//

html {
    // https://pixabay.com/de/photos/literatur-buch-seite-sauber-3033196/
    background-image: url(bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

@media all and (min-width: @screen_min) {
    wpvs-header {
        position: sticky;
        top: 0;
    }
}

main {
    padding: 1rem;
}
