@import "../../css/variables.less";

.screen-size-phone,
.screen-size-tablet,
.screen-size-screen,
.screen-size-hires {
    display: none;
}

@media all and (max-width: @phone_max) {
    .screen-size-phone {
        display: block;
    }
}

@media all and (min-width: @tablet_min) and (max-width: @tablet_max) {
    .screen-size-tablet {
        display: block;
    }
}

@media all and (min-width: @screen_min) and (max-width: @screen_max) {
    .screen-size-screen {
        display: block;
    }
}

@media all and (min-width: @hires_min) {
    .screen-size-hires {
        display: block;
    }
}