/*
 * Copyright © 2019 Dennis Schulmeister-Zimolong
 *
 * E-Mail: dhbw@windows3.de
 * Webseite: https://www.wpvs.de/
 *
 * Dieser Quellcode ist lizenziert unter einer
 * Creative Commons Namensnennung 4.0 International Lizenz.
 */

/**
 * This stylesheet contains global rules that apply to the overall page as well
 * as any custom web component. It is served as a static file, as this is the
 * only way, how web components can access CSS rules, that otherwise would not
 * overcome the barrier of the shadow DOM.
 */

/* Link colors */
a, a:visited {
    color: var(--link-normal-fg);
    text-decoration: none;
    transition: var(--transition-background), var(--transition-color);
}

a:hover {
     color: var(--link-hover-fg);
}

/* Buttons */
.button {
    display: inline-block;
    padding: 0.5em;
    margin: 0.5em;

    background: var(--button-normal-bg);
    color: var(--button-normal-fg) !important;
    border-radius: 0.1em;

    transition: var(--transition-background), var(--transition-color);
}

.button a,
.button a:visited {
    color: var(--button-normal-fg) !important;
}

.button:hover {
    background: var(--button-hover-bg);
    color: var(--button-hover-fg) !important;
}

.button:hover a {
    color: var(--button-hover-fg) !important;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    margin: 0.5em 0 0.5em 0;
}

h1 {
    font-size: 1.7em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.9em;
    color: var(--primary-bg);
}

h6 {
    font-size: 0.7em;
}

/* Teletype */
tt, pre {
    font-size: 90%;
}

/* Screenshots */
.screenshot {
    width: 30em;
    max-width: 100%;

    border: 1px solid lightgrey;
}

/* Paragraphs */
p {
    text-align: justify;
    word-wrap: break-word;
    hyphens: auto;
}